body {
    font-family: "Roboto", sans-serif;
    color: #2E2F42;
    background-color: #fafafa;
}
.logo{
    padding: 24px 1169px 24px 156px;
}

.nav-list {
    color: #2E2F42;
    font-weight: 500;
    font-style: medium;
    font-size: 16px;
    letter-spacing: 2%;
    line-height: 2;
    list-style: none;
}
.contact-info a {
    color: #434455;
    font-size: 16px;
    letter-spacing: 2%;
    line-height: 2;
}

.nav-link:hover,
.nav-link:active,
.nav-link:focus {
    color: #404BBF;
}

.contact-info {
    color: #434456;
    font-size: 16px;
    letter-spacing: 2%;
    line-height: 2;
    font-style: inherit;
}

.contact-info a:hover,
.contact-info a:focus {
    color: #404BBF;
}

.hero {
    max-width: 1440px;
    height: 600px;
    background-color: #2E2F42;
    color: white;
    padding: 250px 20px;
    text-align: center;
    margin-top: 72px;
}

.hero h1 {
    color: #ffff;
    font-style: bold;
    font-size: 56px;
    letter-spacing: 2%;
    line-height: 60px;
    text-align: center;
}

.hero button {
    width: 169px;
    height: 56px;
    border-radius: 4px;
    color: white;
    background-color: #4D5AE5;
}

.hero button:hover,
.hero button:focus {
    background-color: #404BBF;
}

.section1 ul {
    list-style: none;
}
.section1 h3 {
    color: #2E2F42;
    font-weight: medium;
    font-size: 20px;
    letter-spacing: 2%;
    line-height: 24px;
    list-style: none;
}
.section1 p {
    color: #434455;
    font-size: 16px;
    letter-spacing: 2%;
    line-height: 24px;
}

.section2 ul {
    list-style: none;
}

.section2 {
    width: 100%;
    max-width: 1440px;
    height: 600px;
    background-color: #F4F4FD;
    padding: 50px 20px;
    text-align: center;
}

.section2 h2 {
    color: #2E2F42;
    font-weight: bold;
    font-size: 36px;
    line-height: 40px;
    text-align: center;
}
.section2 h3 {
    color: #2E2F42;
    font-weight: medium;
    font-size: 20px;
    letter-spacing: 2%;
    line-height: 24x;
}

.section2 p {
    color: #434455;
    font-size: 16px;
    letter-spacing: 2%;
    line-height: 24px;
}

.section4 ul {
    list-style: none;
}
.section4 h2 {
    color: #2E2F42;
    font-weight: bold;
    font-size: 36px;
    line-height: 40px;
}
.section4 h4 {
    color: #2E2F42;
    font-weight: medium;
    font-size: 20px;
    letter-spacing: 2%;
    line-height: 24px;
}

.section4 p {
    color: #434455;
    font-size: 16px;
    letter-spacing: 2%;
    line-height: 24px;
}

.footer {
    max-width: 1440px;
    height: 600px;
    background-color: #2E2F42;
    color: #F4F4FD;
    text-align: left;
}
.footer .logo {
    padding: 100px 1690px 188px 156px;
}
.footer p {
    padding: 140px 1020px 100px 156px;
}